@import "./config/reset";
@import "./config/variables";

@import "./partials/header";
@import "./partials/side";
@import "./partials/footer";

@import "./screens/home";
@import "./screens/login";
@import "./screens/uploadVideo";

body {
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: $bgColor;
}
