extends layouts/main

block main
    if err
        span=err
    .login-container
        .login-wrapper
            form(method="POST")
                input(type="email", name="email", placeholder="Email")
                input(type="text", name="name", placeholder="Name")
                input(type="password", name="password", placeholder="Password")
                input(type="password", name="password1", placeholder="Confirm password")
                button 회원가입
            br
            a(href=`/users/${routes.GITHUB_AUTH}`).github-login
                i.fab.fa-github-alt
                span 깃허브로 회원가입 &rarr;
            br
            a(href=routes.LOGIN).join_login 로그인 &rarr;