extends layouts/main

block main
    h1 uploaded video
    form(method="POST")
        input(type="text", name="fileUrl", placeholder="fileUrl", required)
        input(type="text", name="title", placeholder="title", required)
        input(type="text", name="description", placeholder="description")
        input(type="submit", value="upload")