extends layouts/main

block main
    .form-container
        .form-wrapper
            .preview
                video#previewVideo.videoPlayer
            form(method="POST", enctype="multipart/form-data")
                input(type="file", name="videoFile", placeholder="파일", accept="video/*", required)#videoFile
                input(type="text", name="title", placeholder="제목", required)
                input(type="text", name="description", placeholder="설명")
                button 업로드
    script(src="/static/js/uploadPreview.js") 