header
    .header-column
        span GgyaalTube
    .header-column
        ul
            li 
                a(href="") login
            li 
                a(href="") menu
            li 
                a(href="/videos/upload") upload