header
    .header-column
        span GgyaalTube
    .header-column
        ul
            if loggedIn
                li 
                    a(href="/logout") logout
                li 
                    a(href=`/users/${loggedUser.id}`) profile
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") login

            li 
                a(href="") menu
            li 
                a(href="/videos/upload") upload